<?php
   require_once('../../php/update_exp.php');
   /** 初始化$_SESSION 数据*/
   if (isset($_POST['headimgurl'])) {
       $_SESSION['figure_url'] = str_replace('http://', 'https://', $_POST['headimgurl']);
   }
   if (isset($_POST['nickname'])) {
       $_SESSION['nickname'] = $_POST['nickname'];
   }
   if (isset($_POST['userid'])) {
       $_SESSION['user_id'] = intval($_POST['userid']);
   }
?>

<!--<div class="text-right">-->
<!--    <button type="button" id="lan_btn_zh_ch" class="btn btn-light active">简体</button>-->
<!--    <button type="button" id="lan_btn_en" class="btn btn-light">English</button>-->
<!--&lt;!&ndash;    <a href="../zh_cn/{{file_number}}.php"><span>&nbsp简体&nbsp</span></a><a href="../en/{{file_number}}.php"><span>&nbspEnglish&nbsp</span></a>&ndash;&gt;-->
<!--</div>-->
<!--<hr>-->
{{{content}}}

<!--<script>-->
<!--    $('a').click(function (e) {-->
<!--        e.preventDefault();-->
<!--        let a_url = $(this).attr("href");-->
<!--        a_url = '/{{article_type}}/{{language}}/' + a_url;-->
<!--        ajax_get_url(a_url)-->
<!--    });-->
<!--</script>-->